//Comienzo Index
/*Introduccion*/
.introduccion {
  display: flex;
  justify-content: center;
  background: url(../imagenes/perfil.jpg) no-repeat center center/cover;
  height: 500px;
  & .introCont {
    display: inline-block;
    color: $colorGrisOscuro;
    text-align: center;
    padding-top: 110px;
    & h1 {
      font-size: 60px;
      line-height: 1.2em;
    }
    & .introCont p {
      padding-bottom: 20px;
      line-height: 1.7em;
    }
  }
}


/*Informacion Principal*/
.informacion {
  display: flex;
  flex-flow: row wrap;
  & img {
    width: 50%;
    height: auto;
  }
  & .historia {
    display: inline-block;
    background: linear-gradient(to top, #d2cec5,#dbd7d0, #e4e1dc, #edebe7);
    width: 50%;
    height: auto;
    text-align: center;
    padding: 30px 30px;
    & p{
      padding-bottom: 30px;
    }
  }
}

@media (max-width: $desktop) {
  .informacion img {
    flex: 100%;
  }
}

@media (max-width: $desktop) {
  .historia {
    flex: 100%;
  }
}

@media(max-width: $tablet) {
  .caja {
    flex: 100%;
  }
}
//Fin de Index 