/*Variables colores*/
/*Variables pantallas*/
/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Body*/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  background: #e2e5e5;
}

a {
  color: #333;
  text-decoration: none; /*quita la linea de los enlaces*/
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/*Clases de Utilidades*/
.colorTitulo {
  color: #FFCF40;
}

.lider {
  font-size: 20px;
}

.boton {
  display: inline-block;
  font-size: 18px;
  color: #f0f8ff;
  background: #342817;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.boton:hover {
  background: #FFCF40;
  color: #483D2E;
  transform: scale(1.2);
}

.pricipal {
  background: #342817;
  color: #f0f8ff;
}

.botonClaro {
  background: #f0f8ff;
  color: #342817;
}

.titulo1 {
  font-size: 40px;
}

/*Padding*/
.pad1 {
  padding: 10px 0px;
}

.pad2 {
  padding: 20px 0px;
}

.pad3 {
  padding: 30px 0px;
}

/*Header*/
header .barraNavegacion {
  background-color: #342817;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px 20px;
  width: auto;
}
header .barraNavegacion .logo a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
  color: #e2e5e5;
}
header .barraNavegacion .barraN ul {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  list-style: none;
}
header .barraNavegacion .barraN ul li a {
  color: #e2e5e5;
  padding: 20px;
  text-align: center;
}
header .barraNavegacion .barraN ul li a:hover {
  background: #483D2E;
  color: #FFCF40;
}

/*Contenedor inferior*/
.contenedorInferior {
  display: flex;
  flex-flow: row wrap;
}
.contenedorInferior .caja {
  display: inline-block;
  color: #333;
  width: 33.3%;
  padding: 30px 30px;
  text-align: center;
  background: #f0f8ff;
}
.contenedorInferior .caja:hover {
  transform: scale(1.03);
}
.contenedorInferior .botonClaro1 {
  color: #f0f8ff;
  background: #FFCF40;
}

/*Footer*/
.footerP {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: #e2e5e5;
  background: #342817;
  padding: 20px;
}

/*Estilos de Index*/
/*Introduccion*/
.introduccion {
  display: flex;
  justify-content: center;
  background: url(../imagenes/perfil.jpg) no-repeat center center/cover;
  height: 500px;
}
.introduccion .introCont {
  display: inline-block;
  color: #f0f8ff;
  text-align: center;
  padding-top: 110px;
}
.introduccion .introCont h1 {
  font-size: 60px;
  line-height: 1.2em;
}
.introduccion .introCont .introCont p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

/*Informacion Principal*/
.informacion {
  display: flex;
  flex-flow: row wrap;
}
.informacion img {
  width: 50%;
  height: auto;
}
.informacion .historia {
  display: inline-block;
  background: linear-gradient(to top, #d2cec5, #dbd7d0, #e4e1dc, #edebe7);
  width: 50%;
  height: auto;
  text-align: center;
  padding: 30px 30px;
}
.informacion .historia p {
  padding-bottom: 30px;
}

@media (max-width: 992px) {
  .informacion img {
    flex: 100%;
  }
}
@media (max-width: 992px) {
  .historia {
    flex: 100%;
  }
}
@media (max-width: 730px) {
  .caja {
    flex: 100%;
  }
}
/*Estilos de "Sobre Nosotros"*/
/*Sobre Nosotros*/
.sobreNosotros {
  display: flex;
  flex-flow: row wrap;
  background: linear-gradient(to top, #d2cec5, #dbd7d0, #e4e1dc, #edebe7);
  padding: 30px;
}
.sobreNosotros img {
  border-radius: 50%;
  width: 35%;
  height: auto;
}
.sobreNosotros img:hover {
  transform: scale(1.05);
}
.sobreNosotros .infoIzquierda {
  display: inline-block;
  width: 65%;
  height: auto;
  text-align: center;
  margin-top: 20px;
  padding: 0px 20px;
}
.sobreNosotros .infoIzquierda h1 {
  line-height: 1em;
}

@media (max-width: 992px) {
  .infoIzquierda {
    flex: 100%;
  }
}
@media (max-width: 992px) {
  .sobreNosotros img {
    flex: 100%;
  }
}
/*Fondo y Testimonios*/
.fondo {
  display: flex;
  flex-flow: column;
  background: url(../imagenes/Fondo_testimonios.jpg) no-repeat center center/cover;
  padding: 50px 30px;
}
.fondo h2 {
  text-align: center;
  color: #f0f8ff;
  padding-bottom: 40px;
  line-height: 1em;
}
.fondo .cliente {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 10px;
  margin-bottom: 40px;
  border-radius: 5px;
  opacity: 0.9;
  width: auto;
  color: #342817;
  background: #FFCF40;
}
.fondo .cliente:hover {
  transform: scale(1.03);
}
.fondo .cliente img {
  justify-content: center;
  width: 13%;
  margin-right: 20px;
  border-radius: 50%;
  height: auto;
}
.fondo .cliente p {
  width: 60%;
  display: inline-block;
  align-items: flex-end;
  text-align: center;
  padding-top: 20px;
}
.fondo .cliente p span {
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media (max-width: 992px) {
  .cliente img {
    flex: 100%;
  }
}
@media (max-width: 992px) {
  .cliente p {
    flex: 100%;
  }
}
/*Estilos de Formulario de Contacto*/
/*Formulario de Contacto*/
.formularioContacto {
  display: flex;
  flex-flow: column wrap;
  background: linear-gradient(to top, #d2cec5, #dbd7d0, #e4e1dc, #edebe7);
  padding: 50px 20px;
}
.formularioContacto h1 {
  display: inline-block;
  line-height: 1.7em;
}
.formularioContacto .campoFormulario {
  margin-bottom: 20px;
}
.formularioContacto .campoFormulario label {
  display: block;
  margin-bottom: 5px;
}
.formularioContacto .campoFormulario input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
}
.formularioContacto .campoFormulario input:focus {
  outline: none;
  border-color: #FFCF40;
}
.formularioContacto .campoFormulario textarea {
  height: 200px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
}
.formularioContacto .campoFormulario textarea:focus {
  outline: none;
  border-color: #FFCF40;
}

/*Contenedor inferior de Contacto*/
.caja2 {
  color: #f0f8ff;
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
  background: #333;
}

@media (max-width: 730px) {
  .caja2 {
    flex: 100%;
  }
}
/*Estilos de Actividades*/
/*Carouseles*/
.fondoActividad {
  background: linear-gradient(to top, #d2cec5, #dbd7d0, #e4e1dc, #edebe7);
}
.fondoActividad .carousel-inner {
  max-height: 39rem;
}
.fondoActividad .descripcion {
  display: inline-block;
  text-align: center;
  padding: 10px;
  width: 50%;
}

/*Estilos de Gastronomia*/
/*Imagenes y Descripciones*/
.fondoGastronomia {
  background: linear-gradient(to top, #d2cec5, #dbd7d0, #e4e1dc, #edebe7);
}
.fondoGastronomia .imagenConDescripcion_gastronomia {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 10px;
}
.fondoGastronomia .imagenConDescripcion_gastronomia .descripcion {
  display: inline-block;
  text-align: center;
  padding: 10px;
  width: 50%;
}
.fondoGastronomia .imagenConDescripcion_gastronomia img {
  width: 45%;
  border-radius: 50%;
}
.fondoGastronomia .imagenConDescripcion_gastronomia img:hover {
  transform: scale(1.05);
}
.fondoGastronomia .imagenConDescripcion_gastronomia_invertida {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
}
.fondoGastronomia .imagenConDescripcion_gastronomia_invertida .descripcion {
  display: inline-block;
  text-align: center;
  padding: 10px;
  width: 50%;
}
.fondoGastronomia .imagenConDescripcion_gastronomia_invertida img {
  width: 45%;
  border-radius: 50%;
}
.fondoGastronomia .imagenConDescripcion_gastronomia_invertida img:hover {
  transform: scale(1.05);
}

@media (max-width: 992px) {
  .descripcion {
    flex: 100%;
  }
}
@media (max-width: 992px) {
  .imagenConDescripcion_gastronomia img {
    flex: 100%;
  }
}
@media (max-width: 992px) {
  .imagenConDescripcion_gastronomia_invertida img {
    flex: 100%;
  }
}
/*Estilos de Gimnasio*/
/*Imagenes y Descripciones*/
.fondoGimnasio {
  background: linear-gradient(to top, #d2cec5, #dbd7d0, #e4e1dc, #edebe7);
  padding: 20px;
}
.fondoGimnasio .imagenConDescripcion_gimnasio {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.fondoGimnasio .imagenConDescripcion_gimnasio .descripcion {
  display: inline-block;
  text-align: center;
  padding: 10px;
  width: 50%;
}
.fondoGimnasio .imagenConDescripcion_gimnasio img {
  width: 45%;
  margin: 10px;
  border-radius: 10px;
}
.fondoGimnasio .imagenConDescripcion_gimnasio img:hover {
  transform: scale(1.05);
}

@media (max-width: 992px) {
  .imagenConDescripcion_gimnasio img {
    flex: 100%;
  }
}/*# sourceMappingURL=main.css.map */